// X.com Global Variables
$x_primary: #000000;
$x_secondary: #ffffff;
$x_text_primary: #000000;
$x_text_secondary: #536471;
$x_text_muted: #71767b;
$x_border: #e7e9ea;
$x_hover: rgba(0, 0, 0, 0.03);

// Legacy support
$twitter_blue: #1d9bf0;
$twitter_white: #ffffff;
$twitter_grey: #536471;
$gray1: #000000;
$gray3: #71767b;
