@import "./responsive.scss";
@import "./global-variables.scss";
@import "../theme/colors.scss";
@import "./mobil.scss";

// Global styles
body {
  background-color: $color-bg;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-text-primary;
}

#app {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

#router-view {
  flex: auto;
  max-width: 600px;
}
